.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link {
  display: contents;
}
.header-container2 {
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  text-decoration: none;
}
.header-icon {
  fill: #D9D9D9;
  width: 13px;
  height: 13px;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-link1 {
  display: contents;
}
.header-container3 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon02 {
  fill: #D9D9D9;
  width: 13px;
  height: 13px;
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-link2 {
  display: contents;
}
.header-container4 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon04 {
  fill: #D9D9D9;
  width: 13px;
  height: 13px;
}
.header-text4 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon06 {
  width: 24px;
  height: 24px;
}
.header-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink1 {
  display: contents;
}
.header-heading1 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon08 {
  width: 24px;
  height: 24px;
}
.header-mid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.header-container6 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
.header-icon10 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text5 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-container7 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.header-icon12 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text6 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
.header-icon17 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon19 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon21 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  margin-bottom: 0px;
}
.header-root-class-name1 {
  margin-bottom: 0px;
}
.header-root-class-name2 {
  margin-bottom: 0px;
}
.header-root-class-name3 {
  margin-bottom: 0px;
}
.header-root-class-name4 {
  margin-bottom: 0px;
}
.header-root-class-name5 {
  margin-bottom: 0px;
}
.header-root-class-name6 {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-icon17 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon19 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon21 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-heading {
    color: var(--dl-color-secondary-400);
  }
  .header-container2 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
  .header-container4 {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon06 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container5 {
    display: none;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
  .header-root-class-name1 {
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    margin-bottom: 0px;
  }
  .header-root-class-name3 {
    margin-bottom: 0px;
  }
  .header-root-class-name4 {
    margin-bottom: 0px;
  }
  .header-root-class-name5 {
    margin-bottom: 0px;
  }
  .header-root-class-name6 {
    margin-bottom: 0px;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container01 {
  gap: 2rem;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
}
.footer-text1 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.footer-icon {
  width: 16px;
  height: 16px;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-link2 {
  display: contents;
}
.footer-icon4 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-container08 {
  gap: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
.footer-text4 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink1 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink2 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink3 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-text5 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container02 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container09 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .footer-text1 {
    text-align: center;
  }
  .footer-container08 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}

.learning-refresh-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.learning-refresh-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDY2fHxwZW9wbGUlMjBvbiUyMHRyYWluaW5nfGVufDB8fHx8MTY5NDAyODg3NXww&ixlib=rb-4.0.3&w=1500');
}
.learning-refresh-fixed-header {
  width: 100%;
  display: flex;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(17, 18, 38, 0.15);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-secondary-300);
}
.learning-refresh-text {
  top: 0px;
  left: 276px;
  color: var(--dl-color-gray-white);
  right: auto;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  text-align: center;
}
.learning-refresh-bg {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.learning-refresh-container1 {
  color: #000;
  width: 100%;
  padding: 2rem;
}
.learning-refresh-ul {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.learning-refresh-ul01 {
  list-style-type: decimal;
}
.learning-refresh-text047 {
  font-weight: bold;
}
.learning-refresh-text051 {
  font-weight: bold;
}
.learning-refresh-text055 {
  font-weight: bold;
}
.learning-refresh-text059 {
  font-weight: bold;
}
.learning-refresh-text063 {
  font-weight: bold;
}
.learning-refresh-text067 {
  font-weight: bold;
}
.learning-refresh-text071 {
  font-weight: bold;
}
.learning-refresh-text075 {
  font-weight: bold;
}
.learning-refresh-text079 {
  font-weight: bold;
}
.learning-refresh-text085 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text087 {
  text-transform: none;
}
.learning-refresh-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.learning-refresh-text088 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text090 {
  text-transform: none;
}
.learning-refresh-ul02 {
  list-style-type: decimal;
}
.learning-refresh-ul03 {
  list-style-type: disc;
}
.learning-refresh-ul04 {
  list-style-type: disc;
}
.learning-refresh-text100 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text102 {
  text-transform: none;
}
.learning-refresh-ul05 {
  list-style-type: decimal;
}
.learning-refresh-ul06 {
  list-style-type: disc;
}
.learning-refresh-ul07 {
  list-style-type: disc;
}
.learning-refresh-ul08 {
  list-style-type: disc;
}
.learning-refresh-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.learning-refresh-text111 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text113 {
  text-transform: none;
}
.learning-refresh-ul09 {
  list-style-type: decimal;
}
.learning-refresh-ul10 {
  list-style-type: disc;
}
.learning-refresh-ul11 {
  list-style-type: disc;
}
.learning-refresh-ul12 {
  list-style-type: disc;
}
.learning-refresh-text134 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text136 {
  text-transform: none;
}
.learning-refresh-ul13 {
  list-style-type: decimal;
}
.learning-refresh-ul14 {
  list-style-type: disc;
}
.learning-refresh-ul15 {
  list-style-type: circle;
}
.learning-refresh-ul16 {
  list-style-type: square;
}
.learning-refresh-ul17 {
  list-style-type: circle;
}
.learning-refresh-text158 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text160 {
  text-transform: none;
}
.learning-refresh-ul18 {
  list-style-type: decimal;
}
.learning-refresh-ul19 {
  list-style-type: circle;
}
.learning-refresh-ul20 {
  list-style-type: circle;
}
.learning-refresh-text171 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text173 {
  text-transform: none;
}
.learning-refresh-ul21 {
  list-style-type: decimal;
}
.learning-refresh-ul22 {
  list-style-type: circle;
}
.learning-refresh-text177 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text179 {
  text-transform: none;
}
.learning-refresh-ul23 {
  list-style-type: decimal;
}
.learning-refresh-ul24 {
  list-style-type: circle;
}
.learning-refresh-ul25 {
  list-style-type: circle;
}
.learning-refresh-text190 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text192 {
  text-transform: none;
}
.learning-refresh-ul26 {
  list-style-type: decimal;
}
.learning-refresh-ul27 {
  list-style-type: circle;
}
.learning-refresh-ul28 {
  list-style-type: circle;
}
.learning-refresh-ul29 {
  list-style-type: circle;
}
.learning-refresh-ul30 {
  list-style-type: circle;
}
.learning-refresh-text222 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text224 {
  text-transform: none;
}
.learning-refresh-ul31 {
  list-style-type: decimal;
}
.learning-refresh-text227 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text229 {
  text-transform: none;
}
.learning-refresh-ul32 {
  list-style-type: decimal;
}
.learning-refresh-text237 {
  font-size: 1.25rem;
  font-weight: 700;
}
.learning-refresh-text239 {
  text-transform: none;
}
.learning-refresh-ul33 {
  list-style-type: decimal;
}
@media(max-width: 991px) {
  .learning-refresh-text {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .learning-refresh-container1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
