.testimonial-card11-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card11-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card11-container {
  width: 100%;
  height: 10rem;
  overflow-x: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.testimonial-card11-icon {
  float: left;
  width: 2rem;
  margin: 1rem;
  align-self: flex-start;
}
.testimonial-card11-text {
  color: #595959;
}
.testimonial-card11-container1 {
  width: 100%;
  display: grid;
  border-top: 1px dotted gray;
  padding-top: 10px;
  grid-template: "icon name" "icon role" / 120px auto;
}
.testimonial-card11-image {
  width: 96px;
  height: 96px;
  grid-area: icon;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card11-text1 {
  grid-area: role;
}
.testimonial-card11-text2 {
  color: #595959;
  grid-area: name;
  font-weight: 600;
  text-transform: uppercase;
}




@media(max-width: 991px) {
  .testimonial-card11-text2 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .testimonial-card11-testimonial-card {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .testimonial-card11-testimonial-card {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .testimonial-card11-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card11-text {
    margin-bottom: 32px;
  }
  .testimonial-card11-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card11-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
